<mat-toolbar  class=" nav mat-elevation-z2">
  <!-- App branding -->
  <mat-icon  class="material-symbols-outlined city" (click)="onSecretIconClick()">account_balance</mat-icon>
  <div class="asses">
    <p class="mat-title">Assessor's Office</p>
    <p class="subt">Tax Roll Management System</p>
  </div>

  <span class="example-spacer"></span>

  <!-- Desktop nav links -->
  <ng-container *ngIf="!isMobileMenuOpen">
    <button mat-button class="btn_on" 
            [routerLink]="'/'"
            [ngClass]="{ 'nav-active': isActive('/') }"
            aria-label="Dashboard">
      <mat-icon>dashboard</mat-icon>
      <p class="nms">Dashboard</p>
    </button>

    <button mat-button 
            [routerLink]="'/records'" class="btn_on" 
            [ngClass]="{ 'nav-active': isActive('/records') }"
            aria-label="Records">
      <mat-icon>table_chart</mat-icon>
      <p class="nms">Records </p>
    </button>

    <button mat-button 
            [routerLink]="'/view-land'" class="btn_on" 
            [ngClass]="{ 'nav-active': isActive('/view-land') }"
            aria-label="View Records">
      <mat-icon>table_chart</mat-icon>
      <p class="nms"> View Land</p>
    </button>

    <button mat-raised-button 
            color="accent"
            class="add-record-btn"
            [routerLink]="'/add-land'"
            aria-label="Add Record">
      <mat-icon>add</mat-icon>
      Add Record
    </button>
  </ng-container>
</mat-toolbar>
